* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    order: 1px solid red;
}

html {
    .dayBg, .sunsetBg, .nightBg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dayBg {
        background-image: linear-gradient(rgba(0, 126, 158, 0.3), rgba(88, 88, 88, 0.2)), url(../assets/bg/day.jpg) ;

    }
    .sunsetBg {
        background-image: linear-gradient(rgba(255, 132, 132, 0.5), rgba(176, 107, 255, 0.1)), url(../assets/bg/sunset.jpg) ;

    }
    .nightBg {
        background-image: linear-gradient(rgba(146, 100, 255, 0.4), rgba(92, 130, 255, 0.2)), url(../assets/bg/night.jpg) ;

    }
}

.glass {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}

.box-shdw {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.transform-center {
    transform: translate(-50%, 0%);
}