@import '../../../styles/Responsive.scss';

form {
    
    position: absolute;
    z-index: 2;
    top: 18%;

    width: 70%;
    height: 3rem;
    grid-template-columns: 3fr 1fr;

    overflow: hidden;
    border-radius: 2rem;

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    input{
        outline: none;
    
        &:first-child {
            padding: 0 1.5rem;
        }
        &:last-child {
        }
    }

    @include media(pc) {
        width: 40%;
    }
    
}